# Data
data/chroma_langchain_db
data/gutenberg.csv

# Models
models/llama-*

# Cache for Hugging Face
.cache/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.egg-info/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# Configuration
.env
*.log
gutenberg/

# Build
dist/
build/
*.egg
*.whl

# Autres
*.tmp
*.bak
*.swp
*.csv
*.index