pandas==2.2.3
nltk==3.9.1
requests==2.32.3
beautifulsoup4==4.12.3
tqdm==4.66.5
sentence-transformers==3.2.0
langchain==0.3.3
langchain-community==0.3.2
langchain_chroma==0.1.4
langchain-core==0.3.12
langchain-openai==0.2.2
chromadb==0.5.15
python-dotenv==1.0.1
./models/llama_cpp_python-0.3.1-cp310-cp310-win_amd64.whl
fastapi==0.115.2
uvicorn==0.32.0