beautifulsoup4==4.12.3
chromadb==0.5.15
en-core-web-sm==3.8.0
fastapi==0.115.2
langchain==0.3.3
langchain-community==0.3.2
langchain_chroma==0.1.4
langchain-core==0.3.12
langchain-openai==0.2.2
nltk==3.9.1
onnxruntime==1.19.2
pandas==2.2.3
python-dotenv==1.0.1
requests==2.32.3
sentence-transformers==3.2.0
spacy==3.8.2
tqdm==4.66.5
uvicorn==0.32.0
./models/llama_cpp_python-0.3.1-cp310-cp310-win_amd64.whl